<div class="jumbotron">
    <h1>Super awesome marketing speak!</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <a class="btn btn-large btn-primary" href="#/demo">Take me to the demo &raquo;</a>
</div>
<hr>
<div class="row-fluid">
    <div class="span6">
        <h4>Simple...</h4>
        <pre ng-non-bindable>&lt;fc-chart fc-chart-type="Column3D" fc-data="salesData"&gt;</pre>

        <h4>Or Complex</h4>
        <pre ng-non-bindable>&lt;fc-chart
    fc-chart-type="{{settings.type}}"
    fc-data="/sales/:month"
    fc-param-month="{{month}}"
    fc-caption="Sales for {{month}}" &gt;</pre>
    </div>

    <div class="span6">
        <h4>Dynamically bind data to charts</h4>
        <p>Lets you easily visualise your model data using FusionCharts. Lorem ipsum...</p>

        <h4>Integrates well with AngularJS</h4>
        <p>Uses $http to get data if needed... Bind model properties to chart attributes for dynamic changes... Lorem ipsum...</p>

        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
</div>